<?xml version="1.0"?>
<launch>

  <!-- Path of the file containing the ORB vocabulary. -->
  <arg name="vocabulary_file_path" default = "/$(env HOME)/catkin_ws/build/orb_slam_2_catkin/orb_slam_2_src-prefix/src/orb_slam_2_src/Vocabulary/ORBvoc.txt"/>
  <!-- Path of the file containing ORB SLAM2 configuration. -->
  <arg name="orb_slam2_settings_file_path" default = "$(find orb_slam_2_ros)/share/siemens_mono.yaml"/>

  <arg name="compressed_topic_1" default="/bas_0/image_color"/>
  <arg name="republished_topic_1" default="/bas_0/image_color"/>
  <arg name="camera_info_1" default="/bas_0/camera_info"/>
  <!-- ORB SLAM2 stereo. -->
  <node pkg="orb_slam_2_ros" name="orb_slam_2_ros_node" type="orb_slam_2_ros_node" output="screen">

    <param name="interface_type" value="mono" />

    <param name="vocabulary_file_path" value="$(arg vocabulary_file_path)"/>
    <param name="settings_file_path" value="$(arg orb_slam2_settings_file_path)"/>
    <param name="visualization" type="bool" value="true"/>
    <remap from="camera/image_raw" to="/output/image"/>

  </node>

  <!-- Stereo image rectification. -->
  <node name="image_undistort" pkg="image_undistort" type="image_undistort_node">
    <param name="input_camera_info_from_ros_params" value="false"/>
    <param name="scale" value="0.5"/>
    <param name="process_every_nth_frame" value="1"/>

    <remap from="input/image" to="$(arg republished_topic_1)"/>
    <remap from="input/camera_info" to="$(arg camera_info_1)"/>

  </node>

  <node name="decompressing_node1" pkg="image_transport" type="republish" args="compressed in:=$(arg compressed_topic_1) raw out:=$(arg republished_topic_1)" required="true"/>

</launch>
