<?xml version="1.0"?>
<launch>
  <node pkg="orb_slam_2_ros" name="orb_slam_2_ros_node" type="orb_slam_2_ros_node" output="screen" >
    <param name="interface_type" value="stereo" />
    <param name="vocabulary_file_path" value="/home/raab/ros_vios/catkin_ws/build/orb_slam_2_catkin/orb_slam_2_src-prefix/src/orb_slam_2_src/Vocabulary/ORBvoc.txt" />
    <param name="settings_file_path" value="/home/raab/ros_vios/catkin_ws/build/orb_slam_2_catkin/orb_slam_2_src-prefix/src/orb_slam_2_src/Settings/ibis.yaml" />
    <param name="visualization" type="bool" value="false" /> <!-- Disale when running on quadcotper -->
    <param name="use_body_transform" type="bool" value="true" />
    <remap from="camera/left/image_raw" to="/ibis/cam1/image_raw" />
    <remap from="camera/right/image_raw" to="/ibis/cam0/image_raw" />
    <remap from="/imu" to="/ibis/imu0" />
  </node>

</launch>
